@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
}

nav {
  height: 10vh;
  background-color: #181818;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  z-index: 2;
}

nav p {
  color: #ffd798;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
  font-size: 1.4rem;
  padding: 0px 15px;
}

nav h4 {
  color: #fff6d6;
  padding: 0px 30px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 0.9em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav h4:hover {
  color: #ffd64e;
  cursor: pointer;
  border-top: 1px solid #ffd64e;
  border-bottom: 1px solid #ffd64e;
}

.stick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.landing-container {
  height: 90vh;
  background-image: url(../images/office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-container p {
  color: #ffe5c4;
  font-size: 2rem;
  font-family: 'Noto Sans', sans-serif;
}

.landing-container .head1 {
  background-color: rgba(0, 0, 0, 0.856);
  padding: 3px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  margin-right: 10px;
  border-left: 10px solid #ffac12;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  max-width: 750px;
  margin-top: 10px;
}

.landing-container .head0 {
  background-color: rgba(0, 0, 0, 0.856);
  padding: 3px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  margin-right: 10px;
  border-left: 10px solid #ff1100;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  max-width: 750px;
  margin-top: 10px;
}

.landing-container .head1:hover {
  border-left: 20px solid #ffac12;
}

.landing-container .head0:hover {
  border-left: 20px solid #ff1100;
}

.about {
  height: 90vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff3cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-position: center;
}

.about .yellow {
  z-index: 0;
  position: absolute;
  height: 90vh;
  width: 100%;
  background-color: rgba(255, 222, 132, 0.842);
}

.about h4 {
  z-index: 1;
  margin-top: 150px;
  padding: 10px;
  border: 2px solid #af4600;
  color: #af4600;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 2px;
}

.about p {
  z-index: 1;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #c4601d;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.2rem;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.about p:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.buffer {
  height: 60vh;
  background-image: url(../images/buffer1.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buffer .black {
  z-index: 0;
  position: absolute;
  height: 60vh;
  width: 100%;
  background-color: rgba(109, 54, 29, 0.301);
  top: 0%;
}

.buffer .card {
  position: relative;
  z-index: 1;
  height: 300px;
  width: 280px;
  background-color: white;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 2rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-family: 'Oxygen';
  font-weight: 600;
}

.buffer .card i {
  margin-bottom: 10px;
  font-size: 2.8rem;
  padding: 10px;
}

.buffer .card p {
  font-weight: normal;
  font-size: 2rem;
  font-family: 'Oxygen';
}

.buffer .card:hover {
  -webkit-transform: translate(0px, -15px);
          transform: translate(0px, -15px);
  -webkit-box-shadow: black 13px 8px 15px;
          box-shadow: black 13px 8px 15px;
}

.buffer .one {
  color: #0099ff;
}

.buffer .one i {
  border: #0099ff 1.5px solid;
}

.buffer .two {
  color: #ff0077;
}

.buffer .two i {
  border: #ff0077 1.5px solid;
}

.buffer .three {
  color: #ffbb00;
}

.buffer .three i {
  border: #ffbb00 1.5px solid;
}

.buffer .four {
  color: #ff6600;
}

.buffer .four i {
  border: #ff6600 1.5px solid;
}

.service {
  background-color: #fff2e2;
  height: 90vh;
  width: 100%;
}

.service .top {
  height: 30.5vh;
  width: 100%;
  background-color: #0077ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
  font-size: 1.9rem;
  padding: 10px;
  margin: 0px 4px;
  border: 1px solid #28a9ff;
  -webkit-transform: all 1s;
          transform: all 1s;
}

.service h4 {
  color: rgba(255, 255, 255, 0.747);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  font-family: 'Oxygen';
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-weight: 200;
}

.service .below {
  height: 58.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.service .glider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service .glider .serv-card {
  background-color: #181818;
  border-radius: 6px;
  margin: 10px;
  color: white;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service .glider .glider-track {
  height: 380px;
}

.service .glider .glider-slide:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.service .glider i {
  font-size: 3rem;
  color: #e2e2e2 184, 180, 180;
  margin-top: 40px;
}

.service .glider P {
  margin: 25px;
  margin-top: 15px;
  padding: 10px;
  padding-top: 30px;
  text-align: center;
  color: #9e9e9e;
  font-family: 'Oxygen';
  font-size: 1.1rem;
}

.touch {
  height: 30.5vh;
  background-color: #ffae00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.touch h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
  font-size: 1.9rem;
  padding: 10px;
  margin: 0px 4px;
  border: 1px solid white;
  -webkit-transform: all 1s;
          transform: all 1s;
}

.touch h4 {
  color: rgba(255, 255, 255, 0.747);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  font-family: 'Oxygen';
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-weight: 200;
}

.contact {
  height: 59.5vh;
  background-color: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .contact-card {
  height: 380px;
  width: 380px;
  margin: 10px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-card .ca:hover {
  color: #b8b8b8 !important;
}

.contact .head {
  color: white;
  font-weight: 550;
  padding: 15px;
  padding-left: 0px !important;
  padding-top: 0px !important;
  width: 365px;
  border-bottom: #ff9900 1.5px solid;
  font-family: 'Noto Sans';
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact .contact-card:hover .head {
  border-bottom: #ff9900 5px solid;
}

.contact .contact-card:hover .head i {
  color: #ffac12;
}

.contact .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.contact .map iframe {
  height: 90%;
  width: 99%;
}

.contact .cnt {
  color: white;
  font-family: 'Noto Sans';
  font-size: 0.9rem;
  padding: 14px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .cnt h4 {
  font-weight: 200 !important;
  color: #6d6d6d;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.contact .cnt i {
  padding-right: 15px;
  font-size: 1.2rem;
  color: #797979;
}

.contact .cnt:hover h4 {
  color: #d1d1d1;
}

.contact .cnt:hover i {
  color: #ffba3b;
}

@media (max-width: 500px) {
  nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  nav p {
    font-size: 0.9em;
    margin-left: 2px;
    margin-right: 2px;
  }
  .stick {
    height: 0px;
    overflow: hidden;
  }
  .stick h4 {
    font-size: 0px;
    height: 0px;
    width: 0px;
    overflow: hidden;
  }
  .about h4 {
    margin-top: 60px;
  }
  .about p {
    margin-top: 60px;
    text-align: justify;
    font-size: 1.1rem;
  }
  .service h3 {
    font-size: 1.3rem;
  }
  .service h4 {
    font-size: 0.9rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.466);
  }
  .service .glider-slide:hover {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
  .touch h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
  .touch h4 {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0 15px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .buffer {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 54px;
  }
  .buffer .black {
    height: 100%;
  }
  .buffer .card {
    margin-top: 54px;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .contact .contact-card {
    width: 300px !important;
  }
  .contact .contact-card .head {
    width: 300px;
  }
}
/*# sourceMappingURL=main.css.map */