@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
}

nav {
  height: 10vh;
  background-color: #181818;
  width: 100%;
  -webkit-box-shadow: 0px 1.5px 4px #3b3b3b;
          box-shadow: 0px 1.5px 4px #3b3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  z-index: 2;
}

nav p {
  color: #ffd54d;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
  font-size: 1.4rem;
  padding: 0px 15px;
}

nav h4 {
  color: #fff6d6;
  padding: 0px 30px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 0.9em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav h4:hover {
  color: #ffd64e;
  cursor: pointer;
  border-top: 1px solid #ffd64e;
  border-bottom: 1px solid #ffd64e;
}

.stick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.landing-container {
  height: 90vh;
  background-image: url(../images/office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-container p {
  color: #ffe5c4;
  font-size: 2rem;
  font-family: 'Noto Sans', sans-serif;
}

.landing-container .head1 {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  margin-right: 10px;
  border-left: 10px solid #ffac12;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  max-width: 750px;
  margin-top: 10px;
}

.landing-container .head0 {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  margin-right: 10px;
  border-left: 10px solid #ff1100;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  max-width: 750px;
  margin-top: 10px;
}

.landing-container .head1:hover {
  border-left: 20px solid #ffac12;
}

.landing-container .head0:hover {
  border-left: 20px solid #c40d00;
}

.about {
  height: 90vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff3cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-position: center;
}

.about .yellow {
  z-index: 0;
  position: absolute;
  height: 90vh;
  width: 100%;
  background-color: rgba(255, 222, 132, 0.884);
}

.about h4 {
  z-index: 1;
  margin-top: 150px;
  padding: 10px;
  border: 2px solid #af4600;
  color: #af4600;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 2px;
}

.about p {
  z-index: 1;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #c4601d;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.2rem;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.about p:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.buffer {
  height: 60vh;
  background-image: url(../images/buffer.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buffer .black {
  z-index: 0;
  position: absolute;
  height: 60vh;
  width: 100%;
  background-color: rgba(48, 47, 47, 0.699);
  top: 0%;
}

.buffer .card {
  position: relative;
  z-index: 1;
  height: 300px;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.726);
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 2.8rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.buffer .card:hover {
  -webkit-transform: translate(0px, -15px);
          transform: translate(0px, -15px);
  -webkit-box-shadow: rgba(20, 20, 20, 0.808) 5px 5px 15px;
          box-shadow: rgba(20, 20, 20, 0.808) 5px 5px 15px;
}

.buffer .one {
  color: #0099ff;
}

.buffer .two {
  color: #ff0077;
}

.buffer .three {
  color: #fffb00;
}

.buffer .four {
  color: #ff6600;
}

@media (max-width: 500px) {
  nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  nav p {
    font-size: 0.9em;
    margin-left: 2px;
    margin-right: 2px;
  }
  .stick {
    height: 0px;
    overflow: hidden;
  }
  .stick h4 {
    font-size: 0px;
    height: 0px;
    width: 0px;
    overflow: hidden;
  }
  .about h4 {
    margin-top: 60px;
  }
  .about p {
    margin-top: 60px;
    text-align: justify;
    font-size: 1.1rem;
  }
}

@media (max-width: 1200px) {
  .buffer {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 54px;
  }
  .buffer .black {
    height: 100%;
  }
  .buffer .card {
    margin-top: 54px;
  }
}
/*# sourceMappingURL=main.css.map */