@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(46, 46, 46);
}

nav{
    height: 10vh;
    background-color: rgb(24, 24, 24);
    width: 100%;
    //box-shadow: 0px 1.5px 4px rgb(59, 59, 59);
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-wrap: wrap;
    text-align: center;
    z-index: 2;

    & p{
        color: rgb(255, 209, 182);
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 2px;
        font-size: 1.4rem;
        padding: 0px 15px;
    }
    & h4{
        color: rgb(255, 246, 214);
        padding: 0px 30px ;
        text-align: center;
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 2px;
        font-size: 0.9em;
        transition: all 0.5s;
        height: 8vh;
        display: flex;
        align-items: center;
    }
    & h4:hover{
        color: rgb(255, 214, 78);
        cursor: pointer;
        border-top: 1px solid rgb(255, 214, 78);
        border-bottom: 1px solid rgb(255, 214, 78);
    }

}

.stick{
    position: sticky;
    top: 0;
}

.landing-container{
    height: 90vh;
    background-image: url(../images/office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    
    & p{
        color: rgb(255, 229, 196);
        font-size: 2rem;
        font-family: 'Noto Sans', sans-serif;
    }
    & .head1{
        background-color: rgba(0, 0, 0, 0.6);
        padding: 3px;
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 30px;
        margin-right: 10px;
        border-left: 10px solid rgb(255, 172, 18);
        transition: all 0.6s;
        max-width: 750px;
        margin-top: 10px;
    }
    & .head0{
        background-color: rgba(0, 0, 0, 0.6);
        padding: 3px;
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 30px;
        margin-right: 10px;
        border-left: 10px solid rgb(255, 17, 0);
        transition: all 0.6s;
        max-width: 750px;
        margin-top: 10px;
    }
    & .head1:hover{
        border-left: 20px solid rgb(255, 172, 18);
    }
    & .head0:hover{
        border-left: 20px solid rgb(196, 13, 0);
    }

}

.about{
    height: 90vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 243, 204);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/about.jpg);
    background-size: cover;
    background-position: center;
   

    & .yellow{
        z-index: 0;
        position: absolute;
        height: 90vh;
        width: 100%;
        background-color: rgba(255, 222, 132, 0.842);
    }

    & h4{
        z-index: 1;
        margin-top: 150px;
        padding: 10px;
        border: 2px solid rgb(175, 70, 0);
        color: rgb(175, 70, 0);
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 2px;
    }
    
    & p{
        z-index: 1;
        margin-top: 70px;
        margin-left: 20px;
        margin-right: 20px;
        max-width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: rgb(196, 96, 29);
        font-family: 'Oxygen', sans-serif;
        font-size: 1.2rem;
        transition: all 0.6s;
    }
    & p:hover{
        transform: scale(1.02);
    }
}

.buffer{
    height: 60vh;
    background-image: url(../images/buffer1.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    & .black{
        z-index: 0 ;
        position: absolute;
        height: 60vh;
        width: 100%;
        background-color: rgba(109, 54, 29, 0.301);
        top: 0%;
    }
    & .card{
        position: relative;
        z-index: 1;
        height: 300px;
        width: 280px;
        background-color: rgb(255, 255, 255);
        border-radius: 9px;
        display: flex;
        justify-content: center;    
        align-items: center;
        color: white;
        font-size: 2.8rem;
        transition: all 0.4s;
    }
    & .card:hover{
        transform: translate(-0px,-15px);
        box-shadow: rgb(0, 0, 0) 13px 8px 15px;
    }
    & .one{
        color: rgb(0, 153, 255) ;
    }
    & .two{
        color: rgb(255, 0, 119) ;
    }
    & .three{
        color: rgb(255, 187, 0) ;
    }
    & .four{
        color: rgb(255, 102, 0) ;
    }
}

.service{
    background-color: rgb(255, 242, 226);
    height: 90vh;
    width: 100%;
    
    & .top{
        height: 30.5vh;
        width: 100%;
        background-color: rgb(0, 119, 255);
    }
}

$mobile-screen: 500px ;
@media (max-width: $mobile-screen) {
  nav{
    position: sticky;
    top: 0;
    
    & p{
    font-size: 0.9em ;
    margin-left: 2px;
    margin-right: 2px;
    }
  }
  .stick{
    height: 0px;
    overflow: hidden;
      
    & h4{
    font-size: 0px;
    height: 0px;
    width: 0px;
    overflow: hidden;
    }
  }

  .about{
      & h4{
          margin-top: 60px;
      }

      & p{
          margin-top: 60px;
          text-align: justify;
          font-size: 1.1rem;
      }
      
  }

}

$medium-screen: 1200px ;
@media (max-width: $medium-screen){
    .buffer{
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 54px;

        & .black{
            height: 100%;
        }

        & .card{
            margin-top: 54px;
        }
    }
}